body{
  /*background-color: rgb(231,223,203);*/
  min-height: 100%;
  font-family: 'Biryani', sans-serif;
  font-size: 12px;
  background-color: rgb(231,223,203);
}

.main-cont{
  background-color: rgb(231,223,203);
}

.search-container{
  /*background-color: white;*/
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#Search-input-Container{
  padding: 5%;
}

#Search-input-Container input{
  min-height: 100px;
  max-height: 100px;
  font-size: 2.5em;
  color: rgb(32,34,241);
  text-transform: uppercase;
  border: 0px;
  background-color: white;
  padding : 0 20px;
}

#Search-Container input:focus {
  border: 0px;
  outline: none;
/*  background: rgb(231,223,203);*/
}

#Search-input-Container button {
  min-height: 100px;
  max-height: 100px;
  min-width: 100px;
  background-color: rgb(32,34,241);
  text-align: center;
  border: 0px;
}

#Search-input-Container button h2{
  font-size: 2em;
  color: rgb(231,223,203);
}

#search-results{
  /*background-color: white;*/
}

.sc-results{

}

.sc-results-inner{
  width: 85%;
/*  background-color:black;*/
}

.track-container{
  /*padding: 1%;*/
  width: 100% !important;
  background-color: black;
}

.track{
  min-width: 95% !important;
  /*color: rgb(32,34,241);*/
  border-bottom-style: solid;
  border-width: 5px;
  /*border-color: rgb(32,34,241);*/
  border-color:rgb(231,223,203); ;
  background-color: white;
  padding: 3%;
}

.track img {
  width: 100%;
}

.track h1{
  font-size: 1.5em;
  font-weight: 300;
  padding-left: 5% !important;
}
.track h4{
  font-size: 1em;
  font-weight: 100;
  padding-left: 5% !important;
}

.track button {
  min-height: 100px;
  max-height: 100px;
  min-width: 100px;
  /*background-color: rgb(32,34,241);*/
  text-align: center;
  border: 0px;
  font-size: 3em;
  padding: 0px !important;
  margin: 0px !important;
  color: white;
}
